@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This application is created using C# and MVC in ASP.NET. 
    <br/>It displays a table of footballers which uses a SQL Server database.
    <br/>User can add new football players to the lists by using the "Add new player" button. 
    <br/>User can also view, edit and delete details in the list using the links on the right.</p>
